<!DOCTYPE html>
<html lang="en">

<head>
  <title>My listings</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link href="http://fonts.cdnfonts.com/css/new-super-mario-font-u" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/my-listing.css" />
  <link rel="stylesheet" href="/styles/sold-box.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>

  <nav>

    <div id="navlogo">
      <span><a href="http://localhost:8080"><img
            src="https://fontmeme.com/permalink/220827/af0c2ad64ef606ff785badeebe948d07.png"></a></span>
    </div>

    <div id="navbarlinks" class="nav-bar-links">
      <a href="/" style="text-decoration: none;">Home&nbsp;&nbsp;</a>
      <a href="/api/favourites" style="text-decoration: none;" class="favourite">Favourites&nbsp;&nbsp;</a>
      <% if (user && user.is_admin) { %>
        <a href="/api/listing" style="text-decoration: none;" class="myList">My Listings&nbsp;&nbsp;</a>
        <a href="/api/add" style="text-decoration: none;" class="addList">New Listing&nbsp;&nbsp;</a>
        <% } %>
          <% if (!user) { %>
            <a href="" style="text-decoration: none;">Log in&nbsp;&nbsp;</a>
            <a href="" style="text-decoration: none;">Sign Up</a>
            <% } %>
    </div>

  </nav>

  <h1 class="listing-page">Your Listings</h1>
  <div id="alert">

  </div>
  <div class="my-listing">
    <% for (let item of lists) { %>
      <div class="new-games">
        <div>
          <h3>
            <%= item.name %>
          </h3>
        </div>
        <div><img class="game-2-pic" src='<%= item.cover_photo_url %>' </div>
          <div>
            <h3>$ <%= item.price %>
            </h3>
          </div>
          <div>
            <p>
              <%= item.description %>
            </p>
          </div>
        </div>
        <div class="sold-delete">
          <button data-game-id="<%= item.id %>" class="sold">Mark As Sold</button>
          <button data-game-id="<%= item.id %>" class="delete">Delete</button>
        </div>
      </div>

      <% } %>

</body>

</html>
